@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

#sizer{
 font-size: 1rem;
 color: #fff;
}


#contact {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87vh;

    background:
      /* radial-gradient(
        circle at 55% 92%, #d4af37 0 12%, transparent 12.2%
      ), 
      radial-gradient(
        circle at 94% 72%, #d4af37 0 10%, transparent 10.2%
      ), 
      radial-gradient(
        circle at 20% max(78%, 350px), #000000 0 7%, transparent 7.2%
      ),  */
      /* radial-gradient(
        circle at 0% 0%, #d4af37 0 30%, transparent 80.2%
      ),  */
      #000000;
  }
  .contactTitle {
    text-align: center;
    font-size: 2.2rem;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    position: absolute;
    top: 5.8rem;
    font-family: "Boogaloo", cursive;
    text-shadow: 1px 1px 3px #cccc5abd;
  }
  .contact-box {
    width: 90%;
    /* margin: 80px 50px; */
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid #fff; */
    border-radius: 8px;
    height: auto;
    /* margin-bottom: 5rem; */
    background-color: transparent;
  }
  
  .contact-links{
    width: 50%;
    margin: auto;
    /* padding-top: 3%; */
    text-align: center;
    border-radius: 10px;
    
    
  }
  .contact-form-wrapper {
    width: 50%;
    margin: auto;
  }
  
  .contact-links {
    text-align: center;
    height: 400px;
    /* background-color: transparent; */
    background-color: transparent;
    
    border-radius: 10px 0 0 10px;
    
  }
  
  .contact-form-wrapper {
    background-color: transparent;
    border-radius: 0 10px 10px 0;
    
  }
  
  /*google Map*/
.map{
  background-color: rgb(0, 0, 0);
  /* margin: auto;
  
  margin-top: 7.5rem;
  margin-right: 5rem; */
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  position:relative;
  margin: auto;
  align-items: center;
  border-radius: 8px;
}


.located{
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 70%;
  height: 21%;
  margin: auto;
  text-align: center;
  border-radius: 8px;
  left: 0;
  right: 0;
  bottom: 1.4rem;
  margin: 0 auto;
  z-index: 9999999;
  
  
}

.MYmap{
  width: 90%;
  height: 100%;
  border-radius: 8px; 
  margin: auto;
  /* box-shadow: 0px 0px 6px 6px #fffffe; ; */
  
}

/*google Map end*/

  
  h2 {
    font-family: 'Arimo', sans-serif;
    color: #fff;
    font-size: clamp(30px, 6vw, 60px);
    letter-spacing: 2px;
    text-align: center;
    transform: scale(.95, 1);
  }
  
  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
  }
  
  .link {
    margin: 30px;
    cursor: pointer;
  }
  

  
  .form-item {
    position: relative;
  }
  
  /* label, input, textarea {
    font-family: 'Poppins', sans-serif;
  }
   */
  label {
    position: absolute;
    top: 10px;
    left: 7%;
    color: #fff;
    font-size: 1.2rem;
    pointer-events: none;
    user-select: none;
    font-family: 'Boogaloo', cursive;
    
  }
  
  input {
    width: 90%;
    outline: 0;
    border: solid 1px #d4af37;
    border-radius: 8px;
    /* margin-bottom: 30px; */
    height: 4rem;
    margin: 0 0 30px 30px ;
    /* margin-left: 3.6rem; */
    font-size: 1.8rem;
    font-family: 'Boogaloo', cursive;
    background-color: transparent;
    color:#fff;
  }

  input[type=text]:focus{
    outline: 2px solid #d4af37;  
    color: #fff;
    box-shadow: 0 0 30px #d4af3769;
  }

   textarea {
    width: 90%;
    outline: 0;
    border: solid 1px #d4af37;
    border-radius: 8px;
    /* margin-bottom: 30px; */
    height: 5rem;
    margin: 0 0 30px 30px ;
    /* margin-left: 3.6rem; */
    font-size: 1.8rem;
    font-family: 'Boogaloo', cursive;
    background-color: transparent;
    color:#fff;
  }

  textarea:focus{
    outline: 2px solid #d4af37;   
    color: #000;
    box-shadow: 20px 20px 60px 10px #d4af37de inset;

  }
  
  input:focus+label, 
  input:valid+label, 
  textarea:focus+label, 
  textarea:valid+label {
    font-size: 1.2rem;
    /* margin-left: 3.6rem; */
    font-family: 'Boogaloo', cursive;
    
    color: #d4af37;
    top: -28px;
    
  }
  
  .submit-btn {
    background-color: transparent;
    /* filter: drop-shadow(2px 2px 3px #0003); */
    
    font-family: 'Boogaloo', cursive;
    font-size:2rem;
    display: block;
    /* padding: 12px 20px; */
    
    margin: auto;
    width: 90%;
    border: solid 1px #d4af37;
    border-radius: 8px;
    cursor: pointer;
    /* user-select: none; */
    transition: 0.2s;
    color: #d4af37;
    
  }
  
  .submit-btn:hover {
    transform: scale(1.01);
    background-color: #d4af37;
    color: black;    
  }
  /* .iconColor{
    color: #d4af37;
    height: 2.5rem;
    margin: auto;
  }
  .iconColor:hover{
    color: #000000;
    height: 2.5rem;
    margin: auto;
  } */
  /* .submit-btn:active {
    transform: scale(1.01);
    
  } */

  
/*Social media */
.ulContact {
    position: absolute;
    top: 2rem;
    margin: auto;
    display: flex;
    left: 2.4rem;
    z-index: 99999999999;
    
}
.ulContact .liContact {
    position: relative;
    list-style: none;
    margin: 0 2px;
    
}
.ulContact .liContact::after {
    content: '';
    position: relative;
    left: 0;
    bottom: -4px;
    width: 40px;
    height: 8px;
    background: rgba(0, 0, 0, 0);
    
    transition: 0.5s;
    opacity: 0;
    filter: blur(2px);
    transform: scale(0.8);
}
.ulContact .liContact:hover::after {
    transition-delay: 0.2s;
    opacity: 0.2;
    transform: scale(1);
}
.ulContact .liContact a {
    width: 40px;
    height: 40px;
    display: block;
    transition: 0.5s;
}
.ulContact .liContact:hover a {
    transform: translateY(-10px);
}
.ulContact .liContact a span  {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.ulContact .liContact a span::after {
    font-family: fontAwesome;
    text-align: center;
    font-size: 1.5rem ;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    /* color: #d4af37; */
    transform-origin: top;
    transition: transform 0.5s;
    border-radius: 5px;
    /* border: solid 1px #d4af37; */
 
}
.ulContact .liContact:hover a span::after {
    transform: rotateX(90deg) translateY(-50%);
}
.ulContact .liContact a span::before {
    font-family: fontAwesome;
    font-size: 1.5rem ;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #fff;
    color: #262626; */
    border-radius: 5px;
    transform-origin: bottom;
    transition: transform 0.5s;
    transform: rotateX(0deg) translateY(0);

}
.ulContact .liContact:hover a span::before {
    transform: rotateX(360deg) translateY(10%);
}
.ulContact .liContact:nth-child(1) a span::after,
.ulContact .liContact:nth-child(1) a span::before {
  background: #0e76a8;
  color: #fff;
    content: '\f0e1'; /*Linkedin*/
    
}
.ulContact .liContact:nth-child(2) a span::after,
.ulContact .liContact:nth-child(2) a span::before {
   content: '\f09b'; /*Github*/
   background: #333;
   color:  #fff;
    
}
.ulContact .liContact:nth-child(3) a span::after,
.ulContact .liContact:nth-child(3) a span::before {
    content: '\f099'; /*Twitter*/
    content: '\f2c6'; /*Telegram*/
    background: #0088cc;
    color: #fff;
}
.ulContact .liContact:nth-child(4) a span::after,
.ulContact .liContact:nth-child(4) a span::before {
    content: '\f232';  /*Whatsapp*/
    /* content: '\f09a'; */
    background: #25D366;
    color: #fff;
}
.ulContact .liContact:nth-child(5) a span::after,
.ulContact .liContact:nth-child(5) a span::before {
    content: '\f0e0'; /* email */
    /* content: '\f09a'; */
    background:linear-gradient(10deg, #ea4335, #fbbc05);
 
    color: rgb(255, 255, 255);
}
.ulContact .liContact:nth-child(6) a span::after,
.ulContact .liContact:nth-child(6) a span::before {
    /* content: '\f0e1'; */
    content: '\f09a';
    background: #3b5999;
    color: #ffffff;
}

.ulContact .liContact:nth-child(1) a span::before {
    background: #ffffff;
    color: #0e76a8;
    border: .5px solid #0e76a8;
    
}
.ulContact .liContact:nth-child(2) a span::before {
    background: #ffffff;
    color:  #333;
    border: .5px solid #333;

}
.ulContact .liContact:nth-child(3) a span::before {
    background: #ffffff;
    color: #0088cc;
    border: .5px solid #0088cc;

}
.ulContact .liContact:nth-child(4) a span::before {
    /* background: #0077b5; */
    background: #ffffff;
    color: #25D366;
    border: .5px solid #25D366;

}

.ulContact .liContact:nth-child(5) a span::before {
  /* background: #DB4437; */
  background: #ffffff;
 
  color:  #fa8806;
  border: .5px solid #fa8806;

}
.ulContact .liContact:nth-child(6) a span::before {
  /* background: #0077b5; */
  background: #ffffff;
  color: #3b5999;
  border: .5px solid #3b5999;

}
/*Social media end*/

@media only screen and (max-width: 400px) {
  .contact-box {
    width: 95%;
    margin: 8% 5%;
  }
}
@media only screen and (max-width: 800px) {
  h2 {
    font-size: clamp(40px, 10vw, 60px);
  }
}

@media only screen and (max-width: 400px) {
  h2 {
    font-size: clamp(30px, 12vw, 60px);
  }
  
  .links {
    padding-top: 30px;
  }
  
  img {
    width: 38px;
    height: 38px;
  }
}

@media only screen and (max-width: 800px) {
  #contact {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    background:
      /* radial-gradient(
        circle at 55% 92%, #d4af37 0 12%, transparent 12.2%
      ), 
      radial-gradient(
        circle at 94% 72%, #d4af37 0 10%, transparent 10.2%
      ), 
      radial-gradient(
        circle at 20% max(78%, 350px), #000000 0 7%, transparent 7.2%
      ),  */
      /* radial-gradient(
        circle at 0% 0%, #d4af37 0 30%, transparent 80.2%
      ),  */
      #000000;
  }

  .contact-links, .contact-form-wrapper {
    width: 100%;
  }
  
  .contact-links {
    border-radius: 10px 10px 0 0;
  }
  
  .contact-form-wrapper {
    border-radius: 0 0 10px 10px;
  }
}
