@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');



#white{
    color: #fff;
    font-weight: 500;
    font-size: 2.8rem;
    /* margin-bottom: 15rem; */
  }
  #gold{
    color: #d4af37;
    margin-bottom: 20rem;
    /* background-color: opacity transparent#ffff; */
    font-weight: 500;
    font-size: 2.8rem;
    /* background:#111; */
    /* color:#fff; */
    text-shadow:1px 1px 10px rgb(0, 0, 0), 1px 1px 10px rgb(0, 0, 0);
    /* font-size:48px; */
  }
  
  .cover-container {
    height: 87vh;
    width: 100%;
    /* margin-bottom: 5rem; */
    /* object-fit: contain; */
    /* box-shadow: inset 0 0 0 1000px 	rgb(0, 0, 0); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    margin:auto ;
    background-color: transparent;
    /* background-color: rgb(89, 218, 39); */
    font-family: 'Boogaloo', cursive;
   
  }
  
  
  .cover-container > h1,h2,h3,h4,h5,h6 {
    color: white;
    font-size: 2.8rem;
    z-index: 99999999;
    font-family: 'Boogaloo', cursive;

    /* margin-top: 2rem; */
  }
  
  .cover-container > p {
    
    color: white;
    font-size: 2.8rem;
    z-index: 99999999;
    
  }

    /*Home Container media queries */
/* Smartphones (portrait and landscape) ---------- */
  @media screen and (min-width: 320px) and (max-width: 480px){
    #white{
      color: #fff;
      font-weight: 500;
      font-size: 2.2rem;
      /* margin-bottom: 15rem; */
    }
    #gold{
      color: #d4af37;
      margin-bottom: 20rem;
      /* background-color: opacity transparent#ffff; */
      font-weight: 500;
      font-size: 2.2rem;
      /* background:#111; */
      /* color:#fff; */
      text-shadow:1px 1px 10px rgb(0, 0, 0), 1px 1px 10px rgb(0, 0, 0);
      /* font-size:48px; */
    }
    
    .cover-container {
      /* height: 100vh; */
      width: 100%;
      margin-bottom: 2.2rem;
      /* object-fit: contain; */
      /* box-shadow: inset 0 0 0 1000px 	rgb(0, 0, 0); */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: content-box;
      margin:auto ;
      /* background-color: rgb(89, 218, 39); */
      font-family: 'Boogaloo', cursive;
     
    }
    
    
    .cover-container > h1,h2,h3,h4,h5,h6 {
      color: white;
      font-size: 2.2rem;
      z-index: 99999999;
      font-family: 'Boogaloo', cursive;
  
      /* margin-top: 2rem; */
    }
    
    .cover-container > p {
      
      color: white;
      font-size: 2.2rem;
      z-index: 99999999;
      
    }
  }

  /* Globe */
.globe {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 0;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 20px 10px rgb(6, 10, 71) inset, 0 0 20px 2px rgba(77, 76, 76, 0.61);
    z-index: 9;
  }
  
  .globe:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: -20px -20px 50px 2px #000 inset;
    border-radius: 50%;
  }
  
  .globe > div {
    width: 200%;
    height: 100%;
    animation: spin 30s linear alternate infinite;
    background: url("https://elements-video-cover-images-0.imgix.net/files/222998006/Global+Map+590x332.jpg?auto=compress%2Cformat&fit=min&h=394&w=700&s=77e2d628ec32100e8b566751976d828f");
    z-index: -99;
  }
  @keyframes spin {
    to {
      transform: translateX(-50%);
    }
  }
  
  /*Globe media queries */
/* Smartphones (portrait and landscape) ---------- */
@media screen and (min-width: 320px) and (max-width: 480px){
  .globe {
    width: 270px;
    height: 270px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 20px 10px rgb(6, 10, 71) inset, 0 0 20px 2px rgba(77, 76, 76, 0.61);
    z-index: 9;
  }
  
  .globe:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: -20px -20px 50px 2px #000 inset;
    border-radius: 50%;
  }
  
  .globe > div {
    width: 200%;
    height: 100%;
    animation: spin 30s linear alternate infinite;
    background: url("https://elements-video-cover-images-0.imgix.net/files/222998006/Global+Map+590x332.jpg?auto=compress%2Cformat&fit=min&h=394&w=700&s=77e2d628ec32100e8b566751976d828f");
    z-index: -99;
  }
  @keyframes spin {
    to {
      transform: translateX(-50%);
    }
  }

  
 /* Icons media*/
 #social-icons {
  /* margin: 0; */
  padding: 0;
  margin-top: 70vh;
  background: transparent;
  z-index: 999999999;
   /* Icons media*/
} 

}/*Globe media queries */




/* comets animations */

#comets{
  position:fixed;
  top:0;
  width:100vw;
  text-align: left; 
  height: 500px; 
  min-height: 100vh;
  overflow:hidden;
}

#comets i {
  display: inline-block;
  width: 250px;
  ;position:absolute;
  border-radius: 5% 40% 70%;
  box-shadow: inset 0px 0px 1px #294b67;
  border: 1px solid #333;
  z-index: 1;
  background-color: #fff;
  opacity: .7;
  animation: falling 8s 0s infinite;
  animation-timing-function:ease-in;
}


#comets i:nth-child(1){
  left: 5vw;
  height:73px; 
  width:3px;
  animation: falling3 8s 0s infinite;
  background: linear-gradient(rgb(255, 255, 255), rgb(0, 17, 248));
}
#comets i:nth-child(3){
  height:11px; 
  width:3px;
  animation: falling3 6s 0s infinite;
  left: 20vw;
  background: linear-gradient(red, orange);

}
#comets i:nth-child(2){
  animation: falling2 6s 0s infinite;
  left: 50vw;
  height:70px; 
  width:4px;
  background: linear-gradient(rgb(132, 0, 255), rgb(255, 254, 252));

}




@keyframes falling {

  0% {
    transform: translate3d(100px,0px,0px) rotate(160deg);
  }

  3% {
    transform:
    translate3d(450px,100vh,0) rotate(160deg);
    opacity: 0;
  }
  100% {
    transform:
    translate3d(450px,100vh,0) rotate(160deg);
    opacity: 0;
  }
}

@keyframes falling3 {
 0% {
  transform: translate3d(0,0,0) rotate(150deg);
}

10% {
  transform: translate3d(430px,640px,0) rotate(150deg);
  opacity: 0;
}

100% {
  transform: translate3d(430px,640px,0) rotate(150deg);
  opacity: 0;
}
}

@keyframes falling2 {
 0% {
  transform:translate3d(100px,0,0) rotate(130deg);
}

15% {
  -webkit-transform:translate3d(800px,580px,0) rotate(130deg);
  opacity: 0;
}

100% {
  -webkit-transform: translate3d(800px,680px,0) rotate(180deg);
  opacity: 0;
}
}

/*End commets*/

/*Media Icons */


@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

#social-icons {
    /* margin: 0; */
    padding: 0;
    /* margin-top: 20rem; */
    background: transparent;
    z-index: 999999999;
    
}

.ul {
    position: absolute;
    top: 85vh;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
    
}
.ul .li {
    position: relative;
    list-style: none;
    margin: 0 2px;
    
}
.ul .li::before {
    content: '';
    position: relative;
    left: 0;
    bottom: -4px;
    width: 40px;
    height: 8px;
    background: rgba(0, 0, 0, 0);
    
    transition: 0.5s;
    opacity: 0;
    filter: blur(2px);
    transform: scale(0.8);
}
.ul .li:hover::before {
    transition-delay: 0.2s;
    opacity: 0.2;
    transform: scale(1);
}
.ul .li a {
    width: 40px;
    height: 40px;
    display: block;
    transition: 0.5s;
}
.ul .li:hover a {
    transform: translateY(-10px);
}
.ul .li a span  {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.ul .li a span::before {
    font-family: fontAwesome;
    text-align: center;
    font-size: 1.5rem ;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: #d4af37;
    transform-origin: top;
    transition: transform 0.5s;
    border-radius: 5px;
    border: solid 1px #d4af37;
 
}
.ul .li:hover a span::before {
    transform: rotateX(90deg) translateY(-50%);
}
.ul .li a span::after {
    font-family: fontAwesome;
    font-size: 1.5rem ;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #fff;
    color: #262626; */
    border-radius: 5px;
    transform-origin: bottom;
    transition: transform 0.5s;
    transform: rotateX(90deg) translateY(50%);
}
.ul .li:hover a span::after {
    transform: rotateX(0deg) translateY(0);
}
.ul .li:nth-child(1) a span::before,
.ul .li:nth-child(1) a span::after {
    content: '\f0e1'; /*Linkedin*/
    
}
.ul .li:nth-child(2) a span::before,
.ul .li:nth-child(2) a span::after {
   content: '\f09b'; /*Github*/
    
}
.ul .li:nth-child(3) a span::before,
.ul .li:nth-child(3) a span::after {
    content: '\f099'; /*Twitter*/
    content: '\f2c6'; /*Telegram*/
}
.ul .li:nth-child(4) a span::before,
.ul .li:nth-child(4) a span::after {
    content: '\f232';  /*Whatsapp*/
    /* content: '\f09a'; */
}
.ul .li:nth-child(5) a span::before,
.ul .li:nth-child(5) a span::after {
    content: '\f0e0'; /* email */
    /* content: '\f09a'; */
}
.ul .li:nth-child(6) a span::before,
.ul .li:nth-child(6) a span::after {
    /* content: '\f0e1'; */
    content: '\f09a';
}

.ul .li:nth-child(1) a span::after {
    background: #0e76a8;
    color: #fff;
    /* border: .5px solid #fff; */
    
}
.ul .li:nth-child(2) a span::after {
    background: #333;
    color:  #fff;
}
.ul .li:nth-child(3) a span::after {
    background: #0088cc;
    color: #fff;
}
.ul .li:nth-child(4) a span::after {
    /* background: #0077b5; */
    background: #25D366;
    color: #fff;
}

.ul .li:nth-child(5) a span::after {
  /* background: #DB4437; */
  background:linear-gradient(10deg, #ea4335, #fbbc05);
 
  color: rgb(255, 255, 255);
  
}
.ul .li:nth-child(6) a span::after {
  /* background: #0077b5; */
  background: #3b5999;
  color: #fff;
}


.flip-box-cover {
  background-color: transparent;
  width: 35rem;
  padding-top: 8rem;
  padding-bottom: 5rem;
  font-size: 2.8rem;
  z-index: 9999;
  /* position: absolute; */
  cursor: pointer;
  

}

/* This container is needed to position the front and back side */
.flip-box-inner-cover {
  position: relative;
  width: 100%;
  height: 50%;
  text-shadow:1px 1px 10px rgb(0, 0, 0), 1px 1px 10px rgb(0, 0, 0);
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box-cover:hover .flip-box-inner-cover {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front-cover,
.flip-box-back-cover {
  position: absolute;
  width: 100%;
  /* height: 100%; */
  backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front-cover {
  /* background-color: #13315c; */
  color: rgb(250, 250, 250);
  text-shadow:1px 1px 10px rgb(0, 0, 0), 1px 1px 10px rgb(0, 0, 0);
}

/* Style the back side */
.flip-box-back-cover {
  transform: rotateY(180deg);
  color:#d4af37;
  text-shadow:1px 1px 10px rgb(0, 0, 0), 1px 1px 10px rgb(0, 0, 0);
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}



/* Switch phrases 
#label{ 
  width:auto;
  margin-top: 7rem;
  z-index: 99999999;
}

#label:after{ 
  content:'';
  font-weight: 500;
  text-shadow:1px 1px 10px rgb(0, 0, 0), 1px 1px 10px rgb(0, 0, 0);
  
}
#label:hover:after { 
  content:''; 
  text-shadow:1px 1px 10px rgb(0, 0, 0), 1px 1px 10px rgb(0, 0, 0);
  font-weight: 500;
  color:#d4af37;
 
}

.label-2{ 
  width:auto;
  margin-top: 7rem;
  z-index: 99999999;
}

.label-2:after{ 
  content:'';
  font-weight: 500;
  text-shadow:1px 1px 10px rgb(0, 0, 0), 1px 1px 10px rgb(0, 0, 0);
  
}
.label-2:hover:after { 
  content:''; 
  text-shadow:1px 1px 10px rgb(0, 0, 0), 1px 1px 10px rgb(0, 0, 0);
  font-weight: 500;
  color:#d4af37;
 
}

@media screen and (min-width: 320px) and (max-width: 480px){
  #label{ 
    width:auto;
    margin-top: 100px; 
    font-size: 2rem;
  }
  
  #label:after{ 
    content:'Hello World!';
    font-weight: 500;
    font-size: 2.2rem;
    text-shadow:1px 1px 10px rgb(0, 0, 0), 1px 1px 10px rgb(0, 0, 0);
    
  }
  #label:hover:after { 
    content:'Enjoy life!'; 
    text-shadow:1px 1px 10px rgb(0, 0, 0), 1px 1px 10px rgb(0, 0, 0);
    font-weight: 500;
    font-size: 2.2rem;
    color:#d4af37;
   
  }
   

}
Switch phrases */