
#white{
    color: #fff;
    /* margin-bottom: 2rem; */
  }
  #gold{
    color: #d4af37;
    /* margin-top: 2rem; */
    /* background-color: opacity transparent#ffff; */
    font-weight: 500;
    /* background:#111; */
    /* color:#fff; */
    text-shadow:1px 1px 10px rgb(0, 0, 0), 1px 1px 10px rgb(0, 0, 0);
    /* font-size:48px; */
  }
  
  .cover-container {
    height: 50vh;
    width: 100%;
    margin-bottom: 50px;
    object-fit: contain;
    /* box-shadow: inset 0 0 0 1000px 	rgb(0, 0, 0); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    margin:auto ;
    background-color: rgb(89, 218, 39);
    font-family: 'Brush Script MT', 'cursive';
   
  }
  
  
  .cover-container > h1,h2,h3,h4,h5,h6 {
    color: white;
    font-size: 4rem;
    z-index: 99999999;
  }
  
  .cover-container > p {
    /* margin-top: 100px; */
    color: white;
    font-size: 32px;
    z-index: 99999999;
  }

  /* Globe */
.globe {
    width: 370px;
    height: 370px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 20px 10px rgb(6, 10, 71) inset, 0 0 20px 2px rgba(77, 76, 76, 0.61);
    z-index: 9;
  }
  
  .globe:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: -20px -20px 50px 2px #000 inset;
    border-radius: 50%;
  }
  
  .globe > div {
    width: 200%;
    height: 100%;
    animation: spin 30s linear alternate infinite;
    background: url("https://elements-video-cover-images-0.imgix.net/files/222998006/Global+Map+590x332.jpg?auto=compress%2Cformat&fit=min&h=394&w=700&s=77e2d628ec32100e8b566751976d828f");
    z-index: -99;
  }
  @keyframes spin {
    to {
      transform: translateX(-50%);
    }
  }
  