canvas {
  display: block;
  vertical-align: bottom;
}
/* ---- tsparticles container ---- */
#tsparticles {
  width: 400px;
  height: 400px;
  position: absolute;
  background-color: black;
  top: 6rem;
  /* bottom: 1rem; */
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  z-index: -5;
}