@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');



/* Navigation bar*/

.navbar {
  font-family: 'Boogaloo', cursive;
  background-color: black;
  height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  position: sticky;
  top: 0;
  box-shadow: 0px 15px 10px -15px rgb(0, 0, 0);
  z-index: 9999999999999999
  

}

/* .navbar:hover{
  background-color:transparent;
  
} */

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  margin: 0 5rem;
  max-width: auto;
  
  /* margin: auto; */

}


.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin: 0 auto 0 ;
  margin-top: 1.1rem;
  padding: 0 0 0 25rem;

  
  
 
}

.nav-links {
  color: #d4af37;
  text-decoration: none;
  /* padding: 0rem 1rem;
  padding: .5rem; */
  margin-top: .5rem;
 
  font-size: 1.2rem;
  border-bottom: 2px solid transparent;
}
.nav-links:hover{
  color: rgb(255, 255, 255);
}


.fa-code {
  margin-left: 2rem;
  
}

.nav-item {
 margin: 0 0 20px 20px;
}



.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #d4af37;
}

.nav-item.active {
  color: #d4af37;
  border: 1px solid #d4af37;
}

/*Prueba*/
.nav-item-prueba {
  
  margin-bottom: 2rem;
  margin-left: 2rem;
}



.nav-item-prueba:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item-prueba:hover:after {
  width: 100%;
  background: transparent;
}

.nav-item-prueba.active {
  color: transparent;
  border: 1px solid transparent;
}

/*Prueba*/
.nav-icon {
  display: none;
}


/*MEDIA QUERIES NAV*/
@media screen and (max-width: 960px) {
 

  .navbar {
    font-family: 'Boogaloo', cursive;
    background-color: rgb(18, 66, 224);
    height: 90px;
    position: sticky;
    /* bottom: 5rem; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* display: flex; */
    position: absolute;
    top: 0;
    z-index: 9999999999999999
  
  }
  
  /* .navbar:hover{
    background-color:rgb(0, 0, 0);
    
  } */


  .nav-container {
    display:contents;
    justify-content: center;
    align-items:stretch;
    /* width: 20%; */
    text-align: center;
    width: 100vw;
    margin: 0;
    top: 5rem;
   
    
    /* margin: auto; */
  
  }
  .nav-menu {
    display:list-item;
    position: absolute;
    margin: auto;
    
    width: 100vw;
    height: 100vh;
    display: table;
    position: sticky;
    /* flex-direction: column; */
    /* width: auto; */
    /* margin: stretch; */
    /* border-top: 1px solid #fff; */
    /* justify-content: center;
    align-items:center; */

    /* position:s; */
    /* top: 0; */
    /* height: auto;
    width: auto; */
    /* margin-right: 20rem; */
    /* left: -110%; */
    opacity: 0;
    /* transition: all 0.5s ease; */
    /* margin-top: 50rem; */
    /* padding: 15px 30px 15px 30px; */
    
    
  }

  .nav-menu.active {
    background: rgb(201, 24, 24);
    padding: 60px;
    height: 100vh;
    opacity: 1;
    /* width: 100%; */
   
    /* visibility: visible;
    width:max-content ; */
    /* transition: all 0.5s ease; */
    /* z-index: 1; */
  
    /* color: rgb(255, 0, 0); */
    
    
  }
  /* .nav-item .active {
    color: #000000;
    border: none;
  } */
  /* .nav-links {
    padding: .5rem;
   
    display: table;
    color: #d4af37;
    width: 100%;
    font-size: 1.5rem;
    
    margin: 0 auto;

  } */

  .nav-icon {
    display: block;
    position:absolute;
    top: 0;
    right: 1.5rem;
    /* margin-bottom: 8rem; */
    
    transform: translate(-50%, 60%);
    font-size: 1.5rem;
    cursor: pointer;
    color: #d4af37;
    /* justify-content: flex-end; */
    /* padding-top: 0;
    padding-bottom: 0;
    padding-left: 50rem; */
    
    z-index: 999999999;
   
  }

/* Underline effect */ 
/* .middle-up {
  position: relative;
  
}
.middle-up:before {
  content: "";
  position: relative;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  bottom: 1.5rem;
  left: 0;
  background-color: rgb(255, 255, 255);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.middle-up:hover:before {
  visibility: visible;
  transform: scaleX(1);
  
}


.middle
{
    position: relative;
    
}

.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  bottom: 3rem;
 
  background-color: #fffefd;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
  
} */

.nav-links {
  color: #d4af37;
  padding: 0rem 1rem;
  /* text-decoration: none; */
  /* padding: 0rem 1rem;
  padding: .5rem; */
  /* margin-top: .5rem; */
 
  font-size: 2rem;
  border-bottom: 2px solid transparent;
}
.nav-links:hover{
  color: rgb(255, 255, 255);
}


.fa-code {
  margin: 0;
  
}

.nav-item {
 margin: 0;
}



.nav-item:after {
  content: none;
  display: none;
  height: none;
  width: none;
  background: none;
  transition: none;
}

.nav-item:hover:after {
  /* width: 100%; */
  background: none;
}

.nav-item.active {
  color: none;
  border: none;
}
/*Hover menu*/

.hover-3 {
  --c: #1095c1; /* the color  */
  --h: 1.2em;   /* the height */
  
  line-height: var(--h);
  background: 
    linear-gradient(var(--c) 0 0) no-repeat 
    calc(200% - var(--_p,0%)) 100%/200% var(--_p,.08em);
  color: rgba(255, 0, 0, 0);
  overflow: hidden;
  text-shadow: 
    0 calc(-1*var(--_t,0em)) var(--c), 
    0 calc(var(--h) - var(--_t,0em)) #fff;
  transition: .3s var(--_s,0s), background-position .3s calc(.3s - var(--_s,0s));
}
.hover-3:hover {
  --_t: var(--h);
  --_p: 100%;
  --_s: .3s
}

}  /*MEDIA QUERIES NAV*/


/* cambiar estos*/


/* 
.scrolling {
  background-color: rgb(55, 235, 0);
  transition: all 0.5s ease;
} */



.nav-logo {
  /* height: 100%; */
  align-items: center;
  /* margin-left: 1rem; */
  cursor: pointer;
  text-decoration: none;
  font-size: 2.8rem;
  /* flex-grow: 1; */
  
}




.logoAnim {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  background-image: linear-gradient(
    -90deg,
    #000000 20%,
    #d4af37 40%,
    #fff 80%,
    #d4af37 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  z-index: 19;
 }

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}




  /* .navbar-logo {
  
    color: rgb(0, 0, 0);
    pointer-events: none;
    width: 10rem;
    padding-left: 1rem;
    align-items: center;
    background-color: rgba(255, 217, 0, 0.452);
  
  } */



/* Flipping logos*/

.flip-box {
  background-color: transparent;
  width: 10rem;
  margin-bottom: 7rem;
  

}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  /* height: 50%; */
 
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  /* height: 100%; */
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  /* background-color: #13315c; */
  color: rgb(250, 250, 250);
}

/* Style the back side */
.flip-box-back {
  transform: rotateY(180deg);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}

