@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');


.texts{
    
    text-align: center;
    color: black;
    vertical-align: middle;
    font-family: 'Boogaloo', cursive;
    text-shadow: 1px 1px 1px #9c9c9a9a;
}

.textM{
    text-align: center;
    color: rgb(0, 0, 0);
    margin: auto;
    height: 8rem;
    font-size: 1.1rem;
    font-family: 'Boogaloo', cursive;
    text-shadow: 1px 1px 1px #9c9c9a9a;
   
    
}


.cardGrid {
  /* background-color: blue; */
  
  height: 25rem;
  
}
@media only screen and (max-width: 960px) {
   
}
/*Icons*/

.icons{
    width: 7em;
    margin: auto;
}
.icon-html5{
    width: 7em;
    margin: auto;
      

   
}
.icon-Css{
    width: 100%;
    text-align: center;
    color: rgb(0, 81, 255);
    font-size: 3rem;
    background-color: rgb(255, 255, 255);
    border: black solid 1px;
}
.icon-Js{
    width: 100%;
    text-align: center;
    color: rgb(255, 238, 0);
    font-size: 3rem;
    vertical-align: middle;
    

}

.icon-NodeJs{
    width: 100%;
    text-align: center;
    color: rgb(28, 192, 42);
    font-size: 3rem;
    background-color: black;

}
.react-icons {
    
    background-color: black;
  }