
#white{
  color: #fff;
  /* margin-bottom: 2rem; */
}
#gold{
  color: #d4af37;
  /* margin-top: 2rem; */
  /* background-color: opacity transparent#ffff; */
  font-weight: 500;
  /* background:#111; */
  /* color:#fff; */
  text-shadow:1px 1px 10px rgb(0, 0, 0), 1px 1px 10px rgb(0, 0, 0);
  /* font-size:48px; */
}

.cover-container {
  height: 100vh;
  width: 100%;
  margin-bottom: 50px;
  object-fit: contain;
  /* box-shadow: inset 0 0 0 1000px 	rgb(0, 0, 0); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  margin:auto ;
  background-color: rgb(89, 218, 39);
  font-family: 'Brush Script MT', 'cursive';
 
}


.cover-container > h1,h2,h3,h4,h5,h6 {
  color: white;
  font-size: 4rem;
  z-index: 99999999;
}

.cover-container > p {
  /* margin-top: 100px; */
  color: white;
  font-size: 32px;
  z-index: 99999999;
}

@media screen and (max-width: 960px) {
  .cover-container > h1 {
    font-size: 70px;
    text-align: center;
  }

  .cover-container > p {
    text-align: center;
    font-size: 22px;
    width: 85%;
  }
  /* .video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
} */

}

.typed {
  font-family: sans-serif;
  font-weight:800;
  font-size:40px;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
  /* min-height:100vh; */
  background:rgba(0, 128, 0, 0);
}


/* Globe */
.globe {
  width: 370px;
  height: 370px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 20px 10px rgb(6, 10, 71) inset, 0 0 20px 2px rgba(77, 76, 76, 0.61);
  z-index: 9;
}

.globe:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: -20px -20px 50px 2px #000 inset;
  border-radius: 50%;
}

.globe > div {
  width: 200%;
  height: 100%;
  animation: spin 30s linear alternate infinite;
  background: url("https://firebasestorage.googleapis.com/v0/b/prueba-context-ecommerce.appspot.com/o/goldworld.jpg?alt=media&token=817a2469-4a52-4edc-9270-f6c73ad8f069");
  z-index: -99;
}
@keyframes spin {
  to {
    transform: translateX(-50%);
  }
}

/*Globe media queries */
/* Smartphones (portrait and landscape) ---------- */
@media screen and (min-width: 320px) and (max-width: 480px){
  .globe {
    width: 220px;
    height: 220px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 20px 10px rgb(6, 10, 71) inset, 0 0 20px 2px rgba(77, 76, 76, 0.61);
    z-index: 9;
  }
  
  .globe:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: -20px -20px 50px 2px #000 inset;
    border-radius: 50%;
  }
  
  .globe > div {
    width: 200%;
    height: 100%;
    animation: spin 30s linear alternate infinite;
    background: url("https://elements-video-cover-images-0.imgix.net/files/222998006/Global+Map+590x332.jpg?auto=compress%2Cformat&fit=min&h=394&w=700&s=77e2d628ec32100e8b566751976d828f");
    z-index: -99;
  }
  @keyframes spin {
    to {
      transform: translateX(-50%);
    }
  }
  
}
/*Globe media queries */

#label{ 
  width:auto;
  /* margin-top: 100px;  */
}

#label:after{ 
  content:'Hello World!';
  font-weight: 500;
  text-shadow:1px 1px 10px rgb(0, 0, 0), 1px 1px 10px rgb(0, 0, 0);
  
}
#label:hover:after { 
  content:'Enjoy life!'; 
  text-shadow:1px 1px 10px rgb(0, 0, 0), 1px 1px 10px rgb(0, 0, 0);
  font-weight: 500;
  color:#d4af37;
 
}

@media screen and (min-width: 320px) and (max-width: 480px){
  #label{ 
    width:auto;
    margin-top: 100px; 
    font-size: 2rem;
  }
  
  #label:after{ 
    content:'Hello World!';
    font-weight: 500;
    font-size: 2rem;
    text-shadow:1px 1px 10px rgb(0, 0, 0), 1px 1px 10px rgb(0, 0, 0);
    
  }
  #label:hover:after { 
    content:'Enjoy life!'; 
    text-shadow:1px 1px 10px rgb(0, 0, 0), 1px 1px 10px rgb(0, 0, 0);
    font-weight: 500;
    font-size: 2rem;
    color:#d4af37;
   
  }
   

}



/*ICONS SOCIAL MEDIA */

ul li a .fab {
  width: 100%;
  height:100%;
  display:block;
  /* background: linear-gradient(0deg, #fff, #ddd); */
  border-radius: 50%;
  /* line-height: calc(60px - 12px); */
  /* font-size:24px; */
  /* color: #fff9f9; */
  transition: .5s;
}

ul li:nth-child(1) a:hover .fab {
  color: #007bb6;
  /* color: #3b5998; */
}

ul li:nth-child(2) a:hover .fab {
  color: #b70afc;
}

ul li:nth-child(3) a:hover .fab {
  color: #dd4b39;
}

ul li:nth-child(4) a:hover .fab {
  color: #007bb6;
}

ul li:nth-child(5) a:hover .fab {
  color: #e4405f;
}

/*incons */

ul {
  margin: 0;
  margin-top: 110px;
  padding: 0;
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul li {
  list-style: none;
  margin: 0 10px;
}

ul li a {
  position: relative; 
  display: block;
  width: 45px;
  height: 45px;
  text-align: center;
  /* line-height: 30px; */
  background: transparent;
  border-radius: 50%;
  font-size: 35px;
  color: #fff;
  transition: .5s;
}

ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* background: #ffffff; */
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}



.text-colored{
  background-color: transparent;
  /* width: 300px;
  height: 70px;
  font-family: 'Roboto', cursive;
  font-weight: 900;
  color: rgb(255, 255, 255);
   */
    text-transform: uppercase;
   background-image: linear-gradient(
     -500deg,
     #ffffff 20%,
     #f5f100 40%,
     #bebb00 80%,
     #707017 100%
   );
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   color: #fff;
   background-clip: text;
   text-fill-color: transparent;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 4s linear infinite;
   display: inline-block;
       /* font-size: 100px; */
 
 

  /* text-shadow:1px 1px 10px rgb(248, 248, 248), 1px 1px 10px rgb(255, 255, 255); */

 
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
