@import url("https://fonts.googleapis.com/css2?family=Boogaloo&display=swap");

* {
  margin: 0;
  text-transform: uppercase;
}

body {
  color: #ffffff;
  background-color: #000;
  -webkit-tap-highlight-color: transparent;
  text-transform: uppercase;
}
